html, body {
    margin: 0;
    height: 100%;
    /* overflow-x: hidden; */
    overflow: hidden;
    background-color: white;
}

h1 {
    padding: 0;
    margin: 0;
    font: 50px Helvetica;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    opacity: 100;
}

.box {
    font: 30px Helvetica;
}


.box button {
    display: inline-block;
    background-color: lightgreen;
    border-radius: 3px;
    margin: 0;
    padding: 10px 20px;
    border: black 1px;
}

ul li {
    list-style: none;
    border-bottom: 1px black;
}

.topBox {
    width: 100%;
    height: 100px;
    background-color: white;
    /* position: fixed;
    top: 0; */
    border-bottom: 1px solid lightgrey;
}

.topBox button {
    margin: 0px;
    height: 100%;
    width: 25%;
    font: 18px "Nunito Sans", sans-serif;
    color: #ffffff;
    background: #3B9FE2;
    border: none;
}

.topBox h1 {
    font: 50px "Nunito Sans", sans-serif;
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
}

.smaller {
    font: 12px "Nunito Sans", sans-serif;
    margin: 0;
}

#middleBox {
    padding: 0px;
    height: 450px;
    /* margin: 0 auto; */
    background-color:white;
    display: flex;
    border-bottom: 2px black solid;
}

#plane {
    width: auto;
    height: 100%;
    margin-left: auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#prev {
    float: left;
}

#next {
    float: right;
}

#plane::-webkit-scrollbar {
    display: none;
}

#plane {
    overflow: scroll;
    width: 100%;
}

@media only screen and (max-height: 100px) {

}
.bottomBox {
    height: 25%;
    overflow-y: scroll;
    padding-top: 14px;
    /* overflow-x: hidden; */
    /* padding-bottom: 200px; */
}

.bottomBox h1 {
    font: 17px "Heebo", sans-serif;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px lightgray solid;
}

.bottomBox p {
    font: 17px "Heebo", sans-serif;
    text-align: center;
}

.bottomBox .textBox {
    float: left;
    width: 50%;
    height: 100%;
    padding-bottom: 120px;
}

.bottomBox .rightImg {
    width: 50%;
    height: 100%;
    float: right;
}

.bottomBox img {
    float: right;
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 0;
}


.bottomNav {
    /* display: none; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3B9FE2;
}

.bottomNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 17px "Nunito Sans", sans-serif;
}

.bottomNav .centered {
    width: 400px;
    margin: 0 auto;
}

a.active {
    background-color: rgb(17, 142, 224);
}

.bottomNav a:hover {
    text-decoration: underline;
    background-color: rgb(98, 167, 212);
}